<!DOCTYPE html>
<html>
<head>
    <title>Admin - Megabyte CyberSec</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Login do Administrador</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label>Usuário:</label><br>
        <input type="text" name="username"><br>
        <label>Senha:</label><br>
        <input type="password" name="password"><br><br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
