<!DOCTYPE html>
<html>
<head>
    <title>Contato - Megabyte CyberSec</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Contato</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label>Nome:</label><br>
        <input type="text" name="name" required><br>
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        <label>Mensagem:</label><br>
        <textarea name="message" required></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
